
{{>layouts/header}}

<form class="container" action="/board/create" method="post">
    <div class="mb-3">
        <label class="form-label" for="">제목</label>
        <input type="text" class="form-control" name="title" id="">
    </div>
    <div class="mb-3">
        <label class="form-label" for="">내용</label>
        <textarea class="form-control" name="content" id=""  rows="3"></textarea>
    </div>
    <button type="submit" class="btn btn-primary"> 등록 </button>
</form>

{{>layouts/footer}}